
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


@import url('https://fonts.cdnfonts.com/css/miama');


*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

header{
    height: 100vh;
    background: linear-gradient(360deg, rgb(0, 0, 0),rgba(42, 41, 41, 0.959));
}
.nav-container{
    width: 75%;
    margin:0 auto;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container .nav-title{
    color: #E6533C;
    font-size: 22px;
    font-style: italic;
} 
.nav-icon{
    border: 1px solid rgba(136, 133, 133, 0.486);
    padding: 10px 0px;
    border-radius: 30px;
}
.spn{
    /* border: 1px solid blue; */
    padding: 8px 20px;
    border-radius: 30px;
    background-color: #E6533C;
    margin-left: 2px;
}
.nav-icon a{
    text-decoration: none;
    color: white;
    padding-right: 50px;
    /* padding: 10px 40px 10px 0px; */
}
.humburger{
    font-size: 22px;
    color: white;
    display: none;
}