main{
    background-color: rgb(0, 0, 0);
    padding-bottom: 100px;
}
.section-header{
    width: 50%;
    margin: 0 auto;
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.section-header h1{
    font-size: 45px;
    margin-bottom: 20px;
}
.section-header p{
    font-size: 14px;
    line-height: 25px;
    color: #ffffff9c;
}

.habit-container{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}
.habit{
    color: white;
    text-align: center;
}
.habit img{
    border-radius: 50%;
    border: 4px solid rgba(88, 87, 87, 0.363);
}
.habit h3{
    font-size: 16px;
    font-weight: 500;
    padding: 20px 0 10px 0;
}
.habit p{
    font-size: 14px;
}

.run-container{
    width: 75%;
    margin: 0 auto;
    /* height: 300px; */
    /* border: 1px solid red; */
    background-color: #ffffff34;
    /* margin-bottom: 100px; */
    border-radius: 10px;
    display: flex;
    gap: 80px;
    padding: 20px;
}
.run-desc{
    width: 60%;
    color: white;
    padding-left: 20px;
}
.run-desc h1{
    font-size: 55px;
    padding-bottom: 15px;
    padding-top: 20px;
}
.run-desc p{
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 20px;
}
.run-desc button{
    background-color: rgb(230, 83, 60);
    color: white;
    font-weight: 600;
}
.run-image{
    width: 60%;  
}
.run-image img{
    width: 100%;
    border-radius: 10px;
}