@media screen and (max-width: 576px){
    .nav-container{
        width: 85%;
    }
    .nav-icon{
        display: none;
    }
    .humburger{
        display: inline;
    }
    .header-banner-container{
        flex-direction: column;
        width: 85%;
    }
    .banner-desc{
        width: 100%;
    }
    .banner-desc h1{
        font-size: 50px;
    }
    button{
        padding: 10px 20px;
    }
    #btn1 #club{
        display: none;
        margin: 0;
    }
    .card1{
        width: 40%;
        top: 10%;
        right: 0%;
    }
    .card2{
        left: 2%;
        top: 50%;
    }
    .circle{
        color: white;
        font-size: 18px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .play{
        display: inline;
    }
    .section-header{
        width: 85%;
        /* margin-top: 20px; */
        padding-top: 30px;
    }
    .section-header h1{
        font-size: 30px;
    }
    .habit-container{
        width: 65%;
        flex-direction: column;
        gap: 50px;
    }
    .run-container{
        flex-direction: column;
        width: 85%;
        height: 100%;
        gap: 40px;
    }
    .run-desc{
        width: 100%;
    }
    .run-desc h1{
        font-size: 40px;
    }
    .run-desc button{
        padding: 15px 30%;
        font-size: 20px;
    }
    .run-image{
        width: 100%;
        height: 100%;
    }
}







@media screen and (min-width:576px) and (max-width:768px){
    .nav-container{
        width: 85%;
    }
    .nav-icon{
        display: none;
    }
    .humburger{
        display: inline;
    }
    .header-banner-container{
        flex-direction: column;
        width: 85%;
    }
    .banner-desc{
        width: 100%;
    }
    .banner-desc h1{
        font-size: 80px;
    }
    button{
        padding: 10px 20px;
    }
    #btn1 #club{
        display: none;
        margin: 0;
    }
    .card1{
        width: 50%;
        top: 10%;
        right: -10%;
    }
    .card2{
        left: 2%;
        top: 50%;
    }
    .circle{
        color: white;
        font-size: 18px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .play{
        display: inline;
    }
    .section-header{
        width: 85%;
    }
    .habit-container{
        width: 65%;
        flex-direction: column;
        gap: 50px;
    }
    .run-container{
        flex-direction: column;
        width: 85%;
        height: 100%;
        gap: 40px;
    }
    .run-desc{
        width: 100%;
    }
    .run-desc h1{
        font-size: 40px;
    }
    .run-desc button{
        padding: 15px 30%;
        font-size: 20px;
    }
    .run-image{
        width: 100%;
        height: 100%;
    }
}







@media screen and (min-width:768px) and (max-width:992px){
    .nav-container{
        width: 90%;
    }
    .header-banner-container{
        flex-direction: column;
        width: 85%;
    }
    .banner-desc{
        width: 100%;
    }
    .habit-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 50px;
    }
    .run-container{
        width: 85%;
        gap: 20px;
    }
    .run-desc{
        width: 75%;
        /* padding-top: 10px; */
    }
    .run-desc h1{
        padding-top: 0;
    }
    .run-image{
        width: 70%;
        height: 100%;
    }
}