@media screen and (max-width: 576px){
    .nav-container{
        width: 85%;
    }
    .nav-icon{
        display: none;
    }
    .humburger{
        display: inline;
    }
    .header-banner-container{
        flex-direction: column;
        width: 85%;
    }
    .banner-desc{
        width: 100%;
    }
    .banner-desc h1{
        font-size: 50px;
    }
    button{
        padding: 10px 20px;
    }
    #btn1 #club{
        display: none;
        margin: 0;
    }
    .card1{
        width: 40%;
        top: 10%;
        right: 0%;
    }
    .card2{
        left: 2%;
        top: 50%;
    }
    .circle{
        color: white;
        font-size: 18px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .play{
        display: inline;
    }
}







@media screen and (min-width:576px) and (max-width:768px){
    .nav-container{
        width: 85%;
    }
    .nav-icon{
        display: none;
    }
    .humburger{
        display: inline;
    }
    .header-banner-container{
        flex-direction: column;
        width: 85%;
    }
    .banner-desc{
        width: 100%;
    }
    .banner-desc h1{
        font-size: 80px;
    }
    button{
        padding: 10px 20px;
    }
    #btn1 #club{
        display: none;
        margin: 0;
    }
    .card1{
        width: 50%;
        top: 10%;
        right: -10%;
    }
    .card2{
        left: 2%;
        top: 50%;
    }
    .circle{
        color: white;
        font-size: 18px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .play{
        display: inline;
    }
}







@media screen and (min-width:768px) and (max-width:992px){
    .nav-container{
        width: 90%;
    }
    .header-banner-container{
        flex-direction: column;
        width: 85%;
    }
    .banner-desc{
        width: 100%;
    }
}